# Top 250 US Restaurants

In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('test_database')
c = conn.cursor()

### Extraction

In [2]:
top250csv = 'Top250.csv'
top250 = pd.read_csv(top250csv)
top250.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

### Transformation

In [3]:
top250 = top250.drop(columns=['Content', 'Headquarters', 'YOY_Units'])
top250.head()

   Rank   Restaurant  Sales YOY_Sales  Units             Segment_Category
0     1   McDonald's  40412      4.9%  13846       Quick Service & Burger
1     2    Starbucks  21380      8.6%  15049  Quick Service & Coffee Cafe
2     3  Chick-fil-A  11320     13.0%   2470      Quick Service & Chicken
3     4    Taco Bell  11293      9.0%   6766      Quick Service & Mexican
4     5  Burger King  10204      2.7%   7346       Quick Service & Burger

In [4]:
# Convert Sales units for Readability
#top250milli = top250['Sales']/1000
#top250['Sales'] = top250milli
#top250milli = top250['Sales']
#top250.head()

### Exporting Pandas DF to JSON file

In [5]:
top250json = top250.to_json('./export.json', orient = 'index')
print(top250json)

None