# Top 250 US Restaurants

In [27]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('test_database')
c = conn.cursor()

### Extraction

In [28]:
top250csv = 'Top250.csv'
top250 = pd.read_csv(top250csv)
top250.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

### Transformation

In [29]:
top250 = top250.drop(columns=['Content', 'Headquarters', 'YOY_Units'])
top250.head()

   Rank   Restaurant  Sales YOY_Sales  Units             Segment_Category
0     1   McDonald's  40412      4.9%  13846       Quick Service & Burger
1     2    Starbucks  21380      8.6%  15049  Quick Service & Coffee Cafe
2     3  Chick-fil-A  11320     13.0%   2470      Quick Service & Chicken
3     4    Taco Bell  11293      9.0%   6766      Quick Service & Mexican
4     5  Burger King  10204      2.7%   7346       Quick Service & Burger

In [30]:
# Convert Sales units for Readability
#top250milli = top250['Sales']/1000
#top250['Sales'] = top250milli
#top250milli = top250['Sales']
#top250.head()

### Exporting Pandas DF to JSON file

In [41]:
top250json = top250.to_json('./export.json', orient = 'index')
print(top250json)

None

### Reset index

In [32]:
top250= top250.set_index("Restaurant")

In [43]:
top250.rename(index = {"Chili’s Grill & Bar": "Chili’s",
                        "Jimmy John’s Gourmet Sandwiches":"Jimmy John’s",
                        "Qdoba Mexican Eats": "QDOBA Mexican Eats",
                        "Papa Murphy’s Pizza": "Papa Murphy’s",
                        "Dutch Bros. Coffee":"Dutch Bros",
                        "Captain D’s Seafood Kitchen":"Captain D’s",
                        "Checkers Drive-In Restaurants":"Checkers",
                        "Einstein Bros. Bagels":" Einstein Bros Bagels",
                        "Hungry Howie’s Pizza":"Hungry Howie’s Pizza & Subs",
                        "O’Charley’s":"O’Charley’s Restaurant & Bar",
                        "Chuck E. Cheese’s":"Chuck E. Cheese",
                        "Texas de Brazil Churrascaria":"Texas de Brazil",
                        "Corner Bakery_Cafe":"Corner Bakery Cafe",
                        "Krystal Co.":"Krystal",
                        "Cooper’s Hawk Winery & Restaurants":"Cooper’s Hawk Winery & Restaurant",
                        "Big Boy/Frisch’s Big Boy":" Frisch’s Big Boy",
                        "Ninety Nine Restaurants ":" Ninety Nine Restaurant & Pub",
                        "Jack’s":"Jack’s Pizza",
                        "Rally’s Hamburgers":"Rally’s",
                        "Pei Wei Asian Diner":"Pei Wei",
                        "Cafe Rio Mexican Grill":"Cafe Rio",
                        "Bahama Breeze Island Grille":"Bahama Breeze",
                        "Rubio’s":"Rubio’s Coastal Grill",
                        "A&W All-American Food":"A&W",
                        "Lazy Dog Restaurant & Bar":"Lazy Dog Sports Bar & Grill",
                        "Souplantation & Sweet Tomatoes":"Sweet Tomatoes",
                        "Del Frisco’s Double Eagle Steak House":" Del Frisco’s",
                        "Buca di Beppo Italian Restaurant":" Buca di Beppo",
                        "Bubba Gump Shrimp Co.":"Bubba Gump Shrimp",
                        "Shoney’s":"Shoney’s Restaurants",
                        "Claim Jumper":"Claim Jumper Restaurant & Saloon",
                        "La Madeleine Country French Cafe":"La Madeleine French Bakery & Cafe",
                        "Mimi’s Bistro & Bakery":"Mimi’s Cafe",
                        "Great Harvest Bread Co.":"Great Harvest Bread",
                        "Old Country Buffet/HomeTown Buffet":"HomeTown Buffet",
                        "Nobu":"Nobu Japanese Sushi",
                        },
                        inplace = True)

In [42]:
top250.head()

             Rank  Sales YOY_Sales  Units             Segment_Category
Restaurant
McDonald's      1  40412      4.9%  13846       Quick Service & Burger
Starbucks       2  21380      8.6%  15049  Quick Service & Coffee Cafe
Chick-fil-A     3  11320     13.0%   2470      Quick Service & Chicken
Taco Bell       4  11293      9.0%   6766      Quick Service & Mexican
Burger King     5  10204      2.7%   7346       Quick Service & Burger