# Top 250 US Restaurants

In [1]:
# Dependencies
import json
import pandas as pd

### Extraction

In [2]:
filepath = 'data/Top250.csv'
top250_df = pd.read_csv(filepath, delimiter=',')
top250_df.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

### Transformation

In [3]:
# Dropping columns we don't need
top250_df = top250_df.drop(columns=['Content', 'Headquarters', 'YOY_Units'])
top250_df.head()

   Rank   Restaurant  Sales YOY_Sales  Units             Segment_Category
0     1   McDonald's  40412      4.9%  13846       Quick Service & Burger
1     2    Starbucks  21380      8.6%  15049  Quick Service & Coffee Cafe
2     3  Chick-fil-A  11320     13.0%   2470      Quick Service & Chicken
3     4    Taco Bell  11293      9.0%   6766      Quick Service & Mexican
4     5  Burger King  10204      2.7%   7346       Quick Service & Burger

In [4]:
# Changing columns to lowercase for later
top250_df.columns = ['rank', 'restaurant', 'sales', 'yoy_sales', 'units', 'category']
top250_df.head()

   rank   restaurant  sales yoy_sales  units                     category
0     1   McDonald's  40412      4.9%  13846       Quick Service & Burger
1     2    Starbucks  21380      8.6%  15049  Quick Service & Coffee Cafe
2     3  Chick-fil-A  11320     13.0%   2470      Quick Service & Chicken
3     4    Taco Bell  11293      9.0%   6766      Quick Service & Mexican
4     5  Burger King  10204      2.7%   7346       Quick Service & Burger

In [5]:
# Renaming some values in the restaurant column so that they match the yelp data set
dict = {"Chili's Grill & Bar": "Chili's",
        "Jimmy John's Gourmet Sandwiches": "Jimmy John's",
        "Qdoba Mexican Eats": "QDOBA Mexican Eats",
        "Papa Murphy's Pizza": "Papa Murphy's",
        "Dutch Bros. Coffee": "Dutch Bros Coffee",
        "Captain D's Seafood Kitchen": "Captain D's",
        "Checkers Drive-In Restaurants": "Checkers",
        "Einstein Bros. Bagels": "Einstein Bros Bagels",
        "Hungry Howie's Pizza": "Hungry Howie's Pizza & Subs",
        "O'Charley's": "O'Charley's Restaurant & Bar",
        "Chuck E. Cheese's": "Chuck E. Cheese",
        "Texas de Brazil Churrascaria": "Texas de Brazil",
        "Corner Bakery_Cafe": "Corner Bakery Cafe",
        "Krystal Co.": "Krystal",
        "Cooper's Hawk Winery & Restaurants": "Cooper's Hawk Winery & Restaurant",
        "Big Boy/Frisch's Big Boy": "Frisch's Big Boy",
        "Ninety Nine Restaurants": "Ninety Nine Restaurant & Pub",
        "Jack's": "Jack's Pizza",
        "Rally's Hamburgers": "Rally's",
        "Pei Wei Asian Diner": "Pei Wei",
        "Cafe Rio Mexican Grill": "Cafe Rio",
        "Bahama Breeze Island Grille": "Bahama Breeze",
        "Rubio's": "Rubio's Coastal Grill",
        "A&W All-American Food": "A&W",
        "Lazy Dog Restaurant & Bar": "Lazy Dog Sports Bar & Grill",
        "Souplantation & Sweet Tomatoes": "Sweet Tomatoes",
        "Del Frisco's Double Eagle Steak House": "Del Frisco's",
        "Bubba Gump Shrimp Co.": "Bubba Gump Shrimp",
        "Shoney's": "Shoney's Restaurants",
        "Claim Jumper": "Claim Jumper Restaurant & Saloon",
        "La Madeleine Country French Cafe": "La Madeleine French Bakery & Cafe",
        "Mimi's Bistro & Bakery": "Mimi's Cafe",
        "Great Harvest Bread Co.": "Great Harvest Bread",
        "Old Country Buffet/HomeTown Buffet": "HomeTown Buffet",
        "Nobu": "Nobu Japanese Sushi",
        "Gyu-Kaku": "Gyu-Kaku Japanese BBQ",
        "Cook-Out Restaurant": "Cook Out"}

top250_df['restaurant'].replace(dict, inplace=True)
top250_df

,rank,restaurant,sales,yoy_sales,units,category
0,1,McDonald's,40412,4.9%,13846,Quick Service & Burger
1,2,Starbucks,21380,8.6%,15049,Quick Service & Coffee Cafe
2,3,Chick-fil-A,11320,13.0%,2470,Quick Service & Chicken
3,4,Taco Bell,11293,9.0%,6766,Quick Service & Mexican
4,5,Burger King,10204,2.7%,7346,Quick Service & Burger
...,...,...,...,...,...,...
245,246,Rainforest Cafe,129,-10.4%,18,Varied Menu
246,247,PDQ,127,-5.5%,56,Chicken
247,248,Lupe Tortilla,127,12.1%,25,Mexican
248,249,Cook Out,126,10.1%,270,Burger
249,250,Jollibee,126,15.2%,40,Chicken

In [6]:
# Exporting the data to JSON
top250json = top250_df.to_json('data/top250.json', orient='index')