In [1]:
import json
import pandas as pd

In [2]:
json_business = 'data/yelp_academic_dataset_business.json'
business_df = pd.read_json(json_business, lines=True)
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."

In [3]:
clean_business_df = business_df[['name', 'address', 'city', 'state', 'postal_code', 'stars', 'review_count', 'categories']].copy().dropna()
clean_business_df.head()

,name,address,city,state,postal_code,stars,review_count,categories
0,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,4.0,86,"Gastropubs, Food, Beer Gardens, Restaurants, B..."
1,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,4.0,126,"Salad, Soup, Sandwiches, Delis, Restaurants, C..."
2,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,4.5,13,"Antiques, Fashion, Used, Vintage & Consignment..."
3,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,3.0,8,"Beauty & Spas, Hair Salons"
4,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,4.0,14,"Gyms, Active Life, Interval Training Gyms, Fit..."

In [4]:
keywords = ["Restaurants", "Coffee & Tea"]
clean_business_df = clean_business_df[clean_business_df['categories'].str.contains('|'.join(keywords))]
clean_business_df.head()

,name,address,city,state,postal_code,stars,review_count,categories
0,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,4.0,86,"Gastropubs, Food, Beer Gardens, Restaurants, B..."
1,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,4.0,126,"Salad, Soup, Sandwiches, Delis, Restaurants, C..."
5,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,3.5,169,"Restaurants, Thai"
7,Boxwood Biscuit,740 S High St,Columbus,OH,43206,4.5,11,"Breakfast & Brunch, Restaurants"
12,Mr G's Pizza & Subs,474 Lowell St,Peabody,MA,01960,4.0,39,"Food, Pizza, Restaurants"